




.center-block {
    margin: auto;
    margin-bottom: 20px;
    display: block;
}

.gheaderimg {
    margin: auto;
    margin-top: 10px;
    display: block;
}

.bottom {
    background-color: #f5f5f5;
    padding: 20px;

}

.grid-container {
    display: inline-grid;
    border: black 1px solid;
    width: 900px
}


#icon {
    height: 40px;
    width: 120px;
}

#search-title {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 15px;
    color: red;
}

#advanced-search {
    margin-left: 45px;
    margin-top: 30px;
}

#submit {
    margin-top: 20px;
    margin-left: 500px;
}

.text-field {
    margin-left: 40px;
    width: 800px;
}

#link-back {
    margin-left: 900px;
}

label{
        display: inline-block;
        width: 300px;
        text-align: justify;
        padding-left: 100px
}
h6{
    color:tomato;
    padding-top: 50px;
    padding-left: 20px;
}
input{

    width:600px;
    margin-bottom: 100px;;
}

